In [47]:
import requests
import json
import pandas as pd

In [48]:
from google.colab import drive

# Mount your Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [49]:
city = input("Enter your city: ")

url = "http://api.aladhan.com/v1/calendarByCity/2023?city="+ city + "&country=Malaysia&method=11"
response = requests.get(url)
data = response.json()

month_count = 1

rows = []

while month_count <= len(data["data"]):
    for day in data['data']["%s" % month_count]:
        date = day['date']['readable']
        islamicdate = day['date']['hijri']['date']
        fajr = day['timings']['Fajr']
        sunrise = day['timings']['Sunrise']
        dhuhr = day['timings']['Dhuhr']
        asr = day['timings']['Asr']
        maghrib = day['timings']['Maghrib']
        isha = day['timings']['Isha']
        row = {'City': city, 'Date': date, 'Islamic Date': islamicdate, 'Subuh': fajr, 'Syuruk': sunrise, 'Zohor': dhuhr, 'Asar': asr, 'Maghrib': maghrib, 'Isya': isha}
        rows.append(row)
    month_count += 1

df = pd.DataFrame(rows, columns=['City', 'Date', 'Islamic Date', 'Subuh', 'Syuruk', 'Zohor', 'Asar', 'Maghrib', 'Isya'])

print(df)

df.to_csv('Waktu_Solat_'+ city + '.csv', index=False)

Enter your city: Kuala Lumpur
             City         Date Islamic Date        Subuh       Syuruk  \
0    Kuala Lumpur  01 Jan 2023   08-06-1444  05:55 (+08)  07:18 (+08)
1    Kuala Lumpur  02 Jan 2023   09-06-1444  05:55 (+08)  07:19 (+08)
2    Kuala Lumpur  03 Jan 2023   10-06-1444  05:56 (+08)  07:19 (+08)
3    Kuala Lumpur  04 Jan 2023   11-06-1444  05:56 (+08)  07:20 (+08)
4    Kuala Lumpur  05 Jan 2023   12-06-1444  05:57 (+08)  07:20 (+08)
..            ...          ...          ...          ...          ...
360  Kuala Lumpur  27 Dec 2023   14-06-1445  05:52 (+08)  07:16 (+08)
361  Kuala Lumpur  28 Dec 2023   15-06-1445  05:53 (+08)  07:16 (+08)
362  Kuala Lumpur  29 Dec 2023   16-06-1445  05:53 (+08)  07:17 (+08)
363  Kuala Lumpur  30 Dec 2023   17-06-1445  05:54 (+08)  07:17 (+08)
364  Kuala Lumpur  31 Dec 2023   18-06-1445  05:54 (+08)  07:18 (+08)

           Zohor         Asar      Maghrib         Isya
0    13:17 (+08)  16:41 (+08)  19:15 (+08)  20:30 (+08)
1    13:17 (+08)  16:41 (+08)  19:15 (+08)  20:30 (+08)
2    13:17 (+08)  16:42 (+08)  19:16 (+08)  20:30 (+08)
3    13:18 (+08)  16:42 (+08)  19:16 (+08)  20:31 (+08)
4    13:18 (+08)  16:42 (+08)  19:17 (+08)  20:31 (+08)
..           ...          ...          ...          ...
360  13:14 (+08)  16:38 (+08)  19:12 (+08)  20:27 (+08)
361  13:14 (+08)  16:39 (+08)  19:13 (+08)  20:28 (+08)
362  13:15 (+08)  16:39 (+08)  19:13 (+08)  20:28 (+08)
363  13:15 (+08)  16:40 (+08)  19:14 (+08)  20:29 (+08)
364  13:16 (+08)  16:40 (+08)  19:14 (+08)  20:29 (+08)

[365 rows x 9 columns]

In [50]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.9/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.9/dist-packages (from pymongo) (2.3.0)

In [51]:
!pip install pyngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyngrok in /usr/local/lib/python3.9/dist-packages (5.2.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.9/dist-packages (from pyngrok) (6.0)

In [52]:
import pymongo
import csv

In [53]:
from pymongo import MongoClient

In [60]:
df = pd.read_csv('/content/Waktu_Solat_Kuala Lumpur.csv')

In [61]:
client = pymongo.MongoClient("mongodb+srv://user1:60XRzCr4mubxCPC5@cluster0.evngzba.mongodb.net/test")
db = client['prayer_times_data']
collection = db['KualaLumpur']

In [62]:
data = df.to_dict(orient='records')
collection.insert_many(data)